.education .box-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding:1rem 0;
	padding-left: 3rem;
}

.education .box-container .box{
	width:100%;
	margin: 3rem 1rem;
	padding-left: 4rem;
	border-left: .2rem solid #fff;
	position: relative;
}

.education .box-container .box span{
	font-size: 1.3rem;
	background:#333;
	color:#fff;
	border-radius: 5rem;
	padding:.5rem 2.5rem;
}

.education .box-container .box h3{
	font-size: 2rem;
	color:#fff;
	padding-top: 1.5rem;
}

.education .box-container .box p{
	font-size: 1.4rem;
	color:#eee;
	padding: 1rem 0;
	text-transform: none;
}

.education .box-container .box i{
	position: absolute;
	top:-1.5rem; left:-2.5rem;
	height:5rem;
	width: 5rem;
	border-radius: 50%;
	line-height: 5rem;
	text-align: center;
	font-size: 2rem;
	color:#fff;
	background: cornflowerblue;
}