.intro{
	display: flex;
	justify-content: center;
	flex-flow: column;
	padding:0 15rem;
}

.intro h3{
	font-size: 2.5rem;
	color:#fff;
}

.intro h1{
	font-size:5rem;
	color:#fff;
}

.intro h1 span{
	color: cornflowerblue;
}

.intro p{
	font-size:2rem;
	color:#eee;
	padding: 1rem 0;
}