/* PROFILE SECTION */
.profile .row{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.profile .row .info{
	flex:1 1 100%;
	padding:2rem 1rem;
	padding-left: 6rem;
}

.profile .row .info h3{
	font-size: 2rem;
	color: cornflowerblue;
	padding:1rem 0;
	font-weight: normal;
}

.profile .row .info h3 span{
	color:#eee;
	padding:0 .5rem;
}

.profile .row .counter{
	flex:1 1 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.profile .row .counter .box{
	width:25%;
	background:#333;
	text-align: center;
	padding: 1rem;
	margin: 1.5rem;
	border-radius: .8rem;
}

.profile .row .counter .box:hover{
	transform: scale(1.1);
}

.profile .row .counter .box span{
	font-size: 4rem;
	color: cornflowerblue;
}

.profile .row .counter .box h3{
	font-size: 2rem;
	color:#fff;
}
/* END OF PROFILE SECTION */